<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Admin Reports - Haris Car Care</title>
    <th:block th:replace="~{fragments/head :: common-meta}"></th:block>
    <link th:href="@{/component/admin-sidebar/admin-sidebar.css}" rel="stylesheet">
    <link th:href="@{/component/navbar/navbar.css}" rel="stylesheet">
    <link th:href="@{/component/chatbot/chatbot.css}" rel="stylesheet">
    <link th:href="@{/account/admin/reports/admin-reports.css}" rel="stylesheet">
</head>
<body>

<div class="dashboard">
    <aside th:replace="~{fragments/admin-sidebar :: admin-sidebar('reports')}"></aside>

    <main class="dashboard-content">
        <h1>Reports</h1>
    </main>
</div>

<th:block th:replace="~{fragments/footer :: chatbot-widget}"></th:block>
<th:block th:replace="~{fragments/footer :: common-scripts}"></th:block>

</body>
</html>
